<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDAO" class="springIOC.DAO.UserDAO"/>
    <bean id="mySqlDAO" class="springIOC.DAO.MySqlDAO"/>
    <bean id="oracleDAO" class="springIOC.DAO.OracleDAO"/>
    <bean id="userService" class="springIOC.service.UserService">
    <property name="userDAO" ref="mySqlDAO">

    </property>
    </bean>
</beans>